<style>
.show-style {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}
 </style>

 <% if current_user == @user %>
   <div class="container">
     <%= profile_avatar(@user) %>
     <h3 class="profile-user-name">
      <%= @user.username %>
     <br>
     <h3>Bio:</h3>
     <i><%= @user.bio %></i>
     <br>
     <%= pluralize @user.posts.count, 'post' %>
   </div>
 <% end %>

<hr>
<%= render "posts/posts"%>
