<h1>Sign Up!</h1>


<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <!-- <%= f.label :avatar %>
  <%= f.file_field :avatar %> -->
  <%= f.submit "Sign Up!" %>
<% end %>
