<% @posts.each do |post| %>

  <h3><%= post.user.username %></h3><br/>

  <%= link_to (image_tag post.image), post_path(post) %><br/>

  <%= post.caption %><br>
  <% if post.comments %>
    <% post.comments.each do |comment| %>
      <%= comment.user.username %>
      <%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to (post_comment_path(post, comment)), method: :delete, data: {confirm: "Really? Really? Really? Okay " } %>
      <% end %>
    <% end %>

    <%= form_for [post, post.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: 'Add a comment...' %>
    <% end %>
  <% end %>
  <br/>

<% end %>
