  <% @posts.each do |post| %>

  <div class="container">
    <%= link_to post.user.username, profile_path(post.user.username) %>
    <br/>
    <%= link_to (image_tag post.image.variant(resize: "350x350")), post_path(post) %>
    <br/>
    <p><%= post.user.username %></p>
    <%= post.caption %>
    <% if post.comments %>
      <% post.comments.each do |comment| %>
        <%= comment.user.username %>
        <br/>
        <%= comment.content %>
        <br/>

        <% if comment.user == current_user %>
          <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for [post, post.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: 'Add a comment...' %>
    <% end %>
  </div>
  <% end %>
