<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="username">
          <%= post.user.username %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image), post_path(post) %>
      </div>
      <p class="caption">
        <%= post.caption %>
      </p>
    </div>
    <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.username %>
            </div>
            <div class="comment-content">
              <%= comment.content %>
            </div>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class="glyphicon glyphicon-remove delete-comment">there is suppose to be a glyph here</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
        <button type="button" class="btn btn-default" aria-label="Heart Empty
        "<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      </button>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
