<!DOCTYPE html>
<html>
  <head>
    <title>Hanzagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>HanzAgram -__-</h1>
    <% if is_loggedin? %>
      <%= form_tag "/logout", method: :delete do %>
      <%= submit_tag "Logout" %>
      <% end %>
    <% else %>
    <%= link_to "Log In", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
